<footer class="footer">
  <div class="container">
    <p class="copyright">
      All rights reserved &copy; <span class="year">2024</span>
      <strong>Ekaterina Furman</strong>
    </p>
  </div>
</footer>