<nav class="nav">
  <div class="container">
    <div class="nav__container">
      <a href="https://luxscintilla.com/" aria-label="image link to portfolio home">
        <img class="nav__logo" src="/assets/blog-logo-dark.png" alt="luxscintilla logo">
      </a>

      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="https://luxscintilla.com/">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/">Featured</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="/blog/">All Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="header">
  <div class="container">

    <div class="hero">
      <div class="hero__body">
        <h2 class="hero__title">Let's make it happen</h2>
        <p class="hero__text">Keep learning, keep building, keep exploring!</p>
      </div>
    </div>

  </div>
</header>