* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --nav-height: 8rem;

  --color-text-light: #e9e8e9;
  --color-text-dark: #100508;
  --color-bg-main: #e9e8e9;

  --color-snippet-bg: #100508;
  --color-snippet-accent: #a03652;
  --color-snippet-btn: #008299;
  --color-snippet-btn-hover: #a03652;
  --color-snippet-hover: #57bfd1;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.8rem;
  color: var(--color-text-light);
  background-color: var(--color-bg-main);
  /* 
  overflow-x: hidden; */
}

.container {
  max-width: 96rem;
  padding: 0 2rem;
  margin: 0 auto;
}

/* -------- NAVIGATION -------- */

.nav {
  padding: 1rem 0;
  min-height: var(--nav-height);
  /* background-color: var(--color-bg-main); */
}

.nav__container {
  min-height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav__logo {
  width: auto;
  height: 6rem;
}

.nav__title {
  font-size: 2rem;
  font-weight: 300;
}

.nav__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-text-dark);
  overflow: hidden;
}

.nav__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-snippet-hover);
  transform: translateY(100%);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.nav__link:active::after,
.nav__link:hover::after {
  transform: translateY(0%);
}

/* -------- HEADER -------- */

.header {
  position: relative;
  z-index: 0;

  background-image: url(./assets/header-bg-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 72rem;

  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  margin-bottom: -40rem;
}

.header .container {
  padding-top: 2rem;
}

/* -------- HERO -------- */

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem 0;
}

.hero::after {
  position: absolute;
  content: "MAKE IT HAPPEN";
  top: 4.8rem;
  left: 0;
  font-size: 10rem;
  font-weight: 700;
  opacity: 0.2;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-text-light);
}

.hero__title {
  font-size: 5.6rem;
  text-transform: uppercase;
}

.hero__text {
  font-size: 2.4rem;
}

/* -------- FEATURED & ALL POSTS -------- */

.featured,
.allposts {
  position: relative;
  z-index: 100;
}

.featured__title,
.featured__subtitle,
.allposts__title,
.allposts__subtitle {
  font-weight: 300;
  text-align: center;
  color: var(--color-text-dark);
}

.featured__title,
.allposts__title {
  font-size: 4.8rem;
}

.featured__title {
  line-height: 0.6;
}

.featured__subtitle,
.allposts__subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

.featured__list,
.allposts__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 2rem;
}

/* -------- LIST ITEM -------- */

.list__item {
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.6);
}

/* -------- SNIPPET -------- */

.snippet__img-container {
  overflow: hidden;
}

.snippet__img {
  display: block;
  width: 100%;
  max-height: 18rem;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.snippet:hover > .snippet__img-container > .snippet__img {
  transform: scale(1.1);
}

.snippet__body {
  height: 32rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-snippet-bg);

  border-top: 2px solid var(--color-snippet-accent);
}

.snippet__title {
  font-size: 3.2rem;
  font-weight: 300;
}

.snippet__title a {
  text-decoration: none;
  color: var(--color-text-light);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.snippet__title a:hover {
  color: var(--color-snippet-hover);
}

.snippet__date {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.snippet__description {
  margin-bottom: auto;
}

.btn {
  all: unset;
  background-color: var(--color-snippet-btn);
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:active,
.btn:hover {
  background-color: var(--color-snippet-btn-hover);
}

/* -------- MAIN ARTICLE -------- */

.main-article {
  position: relative;
  z-index: 100;
  color: var(--color-text-dark);
  margin-bottom: 16rem;
}

.main-article__title,
.main-article__meta {
  color: var(--color-text-dark);
}

.main-article__title {
  font-size: 3.2rem;
  font-weight: 400;
}

.main-article__meta {
  margin-bottom: 2rem;
}

.main-article__img {
  max-width: 100%;
  margin-bottom: 4rem;
  box-shadow: 0 2px 16px 4px rgba(0, 0, 0, 0.4);
}

.main-article p,
.main-article ul,
.main-article h3 {
  margin-bottom: 2rem;
}

.main-article ul {
  margin-left: 6rem;
}

.main-article code {
  display: inline-block;
  background-color: var(--color-snippet-bg);
  color: var(--color-text-light);
  padding: 1rem;
  margin-bottom: 2rem;
}

/* -------- FOOTER -------- */

.footer {
  background-image: url(./assets/footer-bg-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 36rem;

  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -16rem;

  display: flex;
  align-items: flex-end;
}

.copyright {
  text-align: center;
  margin-bottom: 2rem;
}

/* -------- MEDIA QUERRIES -------- */

@media (max-width: 1024px) {
  .header {
    background-image: url(./assets/header-bg-medium.jpg);
  }
  .footer {
    background-image: url(./assets/footer-bg-medium.jpg);
  }
}

@media (max-width: 740px) {
  .hero::after {
    font-size: 8rem;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(./assets/header-bg-small.jpg);
  }
  .footer {
    background-image: url(./assets/footer-bg-small.jpg);
  }
  .hero__title {
    font-size: 4rem;
  }
  .hero__text {
    font-size: 2rem;
  }
  .hero::after {
    font-size: 6rem;
  }
  .featured__title {
    font-size: 3.2rem;
  }
  .featured__subtitle {
    font-size: 2rem;
  }
  .snippet__title {
    font-size: 2.4rem;
  }
  .snippet__description {
    font-size: 1.6rem;
  }
}
