---
title: Portfolio Blog | All Posts
layout: 'base.njk'
---

<section class="allposts">
  <div class="container">
    <h2 class="allposts__title">All Blog Posts</h2>
    <p class="allposts__subtitle">Look through all articles to date</p>

    <ul class="allposts__list">

      {%- for post in collections.post | reverse -%}

      {% include 'article-snippet.njk' %}

      {%- endfor -%}

    </ul>
  </div>

</section>